anyascii
arrow
asgiref
beautifulsoup4
binaryornot
certifi
chardet
charset-normalizer
click
cookiecutter
defusedxml
Django
django-allauth
django-browser-reload
django-filter
django-modelcluster
django-permissionedforms
django-stubs-ext
django-taggit
django-tailwind
django-tasks
django-treebeard
djangorestframework
draftjs_exporter
et_xmlfile
filetype
gunicorn
idna
Jinja2
laces
markdown-it-py
MarkupSafe
mdurl
openpyxl
pillow
pillow_heif
Pygments
python-dateutil
python-dotenv
python-slugify
PyYAML
requests
rich
six
soupsieve
sqlparse
stripe
telepath
text-unidecode
types-python-dateutil
typing_extensions
urllib3
wagtail
whitenoise
Willow
